# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Docker volumes (no subir datos)
mosquitto/data/
mosquitto/log/
postgres_data/
